<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net45" />
  <package id="IntelliFactory.Reactive" version="3.4.9.54" targetFramework="net45" />
  <package id="PerfectShuffle.Security" version="0.1.4" targetFramework="net45" />
  <package id="WebSharper" version="3.4.19.200" targetFramework="net45" />
  <package id="WebSharper.JQueryUi" version="3.4.7.272" targetFramework="net45" />
  <package id="WebSharper.Piglets" version="3.4.9.257" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.4.25.175" targetFramework="net45" />
</packages>