<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net45" />
  <package id="IntelliFactory.Reactive" version="3.5.5.60" targetFramework="net45" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net45" />
  <package id="PerfectShuffle.Security" version="0.1.4" targetFramework="net45" />
  <package id="PerfectShuffle.WebsharperExtensions.JavascriptBindings" version="0.1.7" targetFramework="net45" />
  <package id="WebSharper" version="3.5.12.213" targetFramework="net45" />
  <package id="WebSharper.Html" version="3.5.8.9" targetFramework="net45" />
  <package id="WebSharper.JQueryUI" version="3.5.5.282" targetFramework="net45" />
  <package id="WebSharper.Piglets" version="3.5.5.263" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.5.16.190" targetFramework="net45" />
</packages>