type project
licenseUrl https://opensource.org/licenses/MIT
authors James Freiwirth
description
  Fairly random collection of useful functionality for websharper:
  Sitelet modularity (compose many sitelets into a bigger site)
  CSRF tokens
  ASP.NET security integration
  References for common CSS frameworks (Semantic UI, Bootstrap)
